html,
body {
  height: 100%;
  background: #333333 !important;
}

.app {
  text-align: center;
}

.app-name {
  font-size: 2rem;
}

.navbar-link {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
}

.navbar-link:hover {
  color: #bbbbbb;
  text-decoration: none;
}

.navbar-brand {
  color: white !important;
}

.navbar-header {
  background: #111111;
  height: 95px;
  font-size: 20px;
  -webkit-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
}

.home-page,
.login-page,
.register-page,
.events-page,
.contacts-page,
.contact-details-page,
.not-found-page {
  color: white;
  padding-bottom: 40px;
  padding-left: 50px;
}

.page-heading {
  font-size: 3.5rem;
}

.btn-black {
  background-color: #111111 !important;
  color: white !important;
  font-size: 20px !important;
  -webkit-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.btn-black-close {
  background-color: #111111 !important;
  color: white !important;
  font-size: 20px !important;
  -webkit-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  margin-bottom: 10px;
}

.btn-floating-button {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  width: 75px;
  height: 75px;
  border-radius: 38px !important;
  font-size: 2.5rem !important;
  background-color: white !important;
  color: #111111 !important;
  -webkit-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
}

.stats-card {
  padding: 20px;
  margin: auto;
  background: #111111;
  width: 400px;
  -webkit-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
}

.contacts-card {
  padding: 20px;
  margin: auto;
  background: #111111;
  width: 580px;
  -webkit-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.5);
}

.stats-count {
  font-size: 6rem;
}

.stats-entity {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.input-field {
  color: white;
  line-height: 1.2;
  font-size: 24px;
  width: 600px;
  height: 62px;
  padding: 0 20px 0 38px;
  background: #111111;
  border: none;
  outline: none;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.date-field {
  display: inline-block;
  margin-left: 20px;
  width: 250px;
}

.text-area {
  height: 140px;
  resize: none;
  padding-top: 15px;
}

.event-type-dropdown {
  width: 270px;
  display: inline-block;
  padding: 0 10px;
}

.type-dropdown {
  width: 110px;
  display: inline-block;
  padding: 0 10px;
}

.cc-dropdown {
  width: 90px;
  display: inline-block;
  margin-left: 20px;
  padding: 0 10px;
}

.phone {
  display: inline-block;
  margin-left: 20px;
  width: 360px;
}

.secondary-phone {
  width: 300px;
}

.input-field.no-error {
  margin-top: 40px;
}

.input-field::placeholder {
  color: white;
}

.general-link {
  color: white;
  text-decoration: underline;
}

.general-link:hover {
  color: #bbbbbb;
}

.login-register-footer {
  margin-top: 20px;
  font-size: 20px;
}

.event-list {
  display: inline-block;
  font-size: 1.2rem;
}

.alphabet-seperator {
  font-size: 2rem;
  width: 150px;
  display: inline-block;
  padding: 0 30px;
  background: #111111;
  color: white;
  font-weight: 600;
  line-height: 2em;
  border: 1px solid #111111;
  border-radius: 50px;
  z-index: 2;
}

.contact-card-name {
  font-size: 2.5rem;
  display: inline-block;
}

.errors {
  height: 20px;
  font-size: 1.2rem;
}

.contact-details-table {
  display: inline-block;
  font-size: 1.8rem;
}

.spacer {
  width: 50px;
}

.value {
  border-bottom: 1px solid white;
}

.separator {
  width: 30px;
}

.key {
  text-align: left;
}

.key,
.value {
  padding: 10px;
}

.heading-row {
  padding: 50px 0 10px;
}
